absl-py==2.3.1
addict==2.4.0
annotated-types==0.7.0
asttokens==3.0.2
attrs==25.3.0
backcall==0.2.0
blinker==1.8.2
certifi==2026.7.22
cffi==1.17.1
charset-normalizer==3.5.1
click==8.1.8
comm==0.2.3
ConfigArgParse==1.7.5
contourpy==1.1.1
cryptography==47.0.0
cycler==0.12.1
dash==4.3.0
decorator==5.3.1
diffusers==0.27.2
easydict==1.13
egl_probe==1.0.2
einops==0.7.0
etils==1.3.0
evdev==1.9.2
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.16.1
Flask==3.0.3
fonttools==4.57.0
fsspec==2025.3.0
glfw==2.10.2
google-auth==2.50.0
google-auth-oauthlib==1.0.0
grpcio==1.70.0
h5py==3.11.0
huggingface-hub==0.24.6
idna==3.15
imageio==2.35.1
imageio-ffmpeg==0.5.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
iopath==0.1.10
ipython==8.12.3
ipywidgets==8.1.9
itsdangerous==2.2.0
janus==1.0.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_core==5.8.1
jupyterlab_widgets==3.0.17
kiwisolver==1.4.7
llvmlite==0.41.1
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mujoco==3.2.3
narwhals==1.42.1
nbformat==5.10.4
nest-asyncio==1.6.0
ninja==1.13.0
numba==0.58.1
numpy==1.24.4
oauthlib==3.3.1
open3d==0.18.0
opencv-python==4.9.0.80
packaging==26.2
pandas==2.0.3
parso==0.8.7
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
plotly==7.0.0
portalocker==3.0.0
prompt_toolkit==3.0.52
protobuf==5.29.6
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.2
pynput==1.8.2
PyOpenGL==3.1.10
pyparsing==3.1.4
pyquaternion==0.9.9
python-dateutil==2.9.0.post0
python-xlib==0.33
-e git+https://github.com/facebookresearch/pytorch3d.git@e73a7e7bfc580d1f9225ad9ff7d2c753c320aabd#egg=pytorch3d
pytz==2026.3.post1
PyYAML==6.0.3
referencing==0.35.1
regex==2024.11.6
requests==2.32.4
requests-oauthlib==2.0.0
retrying==1.4.2
-e git+https://github.com/ARISE-Initiative/robomimic.git@9273f9cce85809b4f49cb02c6b4d4eeb2fe95abb#egg=robomimic
robosuite==1.4.1
rpds-py==0.20.1
safetensors==0.5.3
scikit-learn==1.3.2
scipy==1.10.1
six==1.17.0
stack-data==0.6.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.4.0
threadpoolctl==3.5.0
torch==1.13.0+cu117
torchvision==0.14.0+cu117
tqdm==4.66.2
traitlets==5.14.3
typing_extensions==4.13.2
tzdata==2026.3
urllib3==2.2.3
wcwidth==0.8.3
Werkzeug==3.0.6
widgetsnbextension==4.0.16
zipp==3.20.2
